* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  background-color: rgb(116, 107, 107);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 10px;
  align-items: center;
  position: relative;
}

.logo {
  color: blueviolet;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  gap: 10px;
}

.header a:hover {
  color: aqua;
  text-decoration: underline;
}

.home {
  align-items: center;
  padding: 20px;
  margin-top: 25px;
}
.home h1 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
}
span {
  color: aqua;
  font-weight: 600;
}

.home h4 {
  color: darkmagenta;
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
  text-align: center;
}

.home p {
  color: rgb(24, 4, 4);
  font-size: 20px;
  margin: 5px;
  text-align: center;
  margin-top: 15px;
}

.about {
  text-align: center;
  padding: 20px;
  margin-top: 25px;
}
.about h2 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}
.about p {
  font-size: 20px;
  margin: 5px;
  text-align: center;
  border: 2px solid darkgrey;
  padding: 20px;
}

.project {
  padding: 40px;
  margin-top: 25px;
}
.project h2 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}
.project span {
  text-decoration: underline;
}

.project-wrapper {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 220px 220px;
  gap: 30px;
  justify-content: center;
}

.project-wrapper div {
  text-align: center;
}
.project-wrapper div p {
  margin-top: 15px;
  color: gray;
}
.project-wrapper div a {
  margin-top: 15px;
  text-decoration: none;
}
.project-wrapper div a:hover {
  color: aqua;
  text-decoration: underline;
}

img {
  width: 150px;
  height: 100px;
}

.contact {
  align-items: center;
  padding: 20px;
  margin-top: 25px;
}
.contact h2 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
span {
  color: aqua;
  font-weight: 600;
}

form {
  text-align: center;
  margin-top: 20px;
}
.btn {
  background-color: brown;
  color: #fff;
  padding: 7px 15px;
  border-radius: 20px;
  border: none;
}
.btn:hover {
  background-color: blueviolet;
  cursor: pointer;
  color: black;
}
footer {
  align-items: center;
  margin-bottom: 10px;
  text-align: center;
}

/* Media Query */

/* Mobile device */

@media (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: row;
  }

  .header h3 {
    color: black;
  }
  .navbar a {
    color: #fff;
    gap: 10px;
  }
  .home h1 {
    font-size: 25px;
  }
  .home h4 {
    font-size: 20px;
  }

  .about h2 {
    font-size: 30px;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
  }
}

/* for Tablet device */

@media (max-width: 760px) {
  .project-wrapper {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-template-rows: 200px 200px;
    gap: 30px;
    justify-content: center;
  }
  .project-wrapper div {
  text-align: center;
}
}
