* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header {
  background-color: rgb(116, 107, 107);
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  margin: 10px;
  align-items: center;
  position: relative;
}

.logo {
  color: blueviolet;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  gap: 10px;
}

.header a:hover {
  color: aqua;
  text-decoration: underline;
}

.home {
  align-items: center;
  padding: 20px;
  margin-top: 25px;
}
.home h1 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
}
span {
  color: aqua;
  font-weight: 600;
}

.home h4 {
  color: darkmagenta;
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

.home p {
  color: brown;
  font-size: 20px;
  font-weight: bold;
  margin: 5px;
}

.about {
  text-align: center;
  padding: 20px;
  margin-top: 25px;
}
.about h2 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
  text-decoration: underline;
}
.about p {
  font-size: 20px;
  margin: 5px;
  text-align: center;
  border: 2px solid darkgrey;
  padding: 20px;
}

.project {
  text-align: center;
  padding: 40px;
  margin-top: 25px;
}
.proj {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 30px;
}

.project h2 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 40px;
}
.project span {
  text-decoration: underline;
}

img {
  width: 150px;
  height: 100px;
}

.contact {
  align-items: center;
  padding: 20px;
  margin-top: 25px;
}
.contact h2 {
  color: chocolate;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
span {
  color: aqua;
  font-weight: 600;
}

form{
    align-items: center;
}